@model OrderVM
    <h5 class="mb-3">YOUR PLACED ORDERS</h5>
    @if (Model.Orders.Count > 0)
    {
    @foreach (var o in Model.Orders)
    {


    <div class="card shadow-lg mt-2">
        <div class="card-body">

            <div class="row d-flex align-items-center">


                <div class="col-lg-4 col-6">
                    <p>Order ID : <strong>#0000 @o.OrderId</strong></p>

                    <p>Total Amount : <strong>TK $@String.Format("{0:0.00}", Model.Total)  </strong></p>
                    <p>
                        <small> @o.OrderDate</small>
                    </p>
                </div>

                <div class="col-lg-4 col-4">
                    <p class="text-center">
                        @if (Convert.ToInt32(o.OrderStatus)>=3 && Convert.ToInt32(o.OrderStatus)<= 6)
                        {
                            <span class="badge badge-success">Paid</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">Unpaid</span>
                        }







                    </p>
                    <p class="text-center"><small>Expected delivery by: To be Determined</small></p>
                </div>
                <div class="col-lg-4 col-2">
                    <a asp-action="OrderDetails" asp-controller="Order" class="btn btn-info btn-sm  rounded-0 text-white float-right d-lg-none d-md-none d-xl-none"><i class="fa fa-eye"></i></a>

                    <a class="btn btn-info btn-sm  rounded-0 text-white float-right d-none d-sm-block" data-toggle="modal" data-target="#productView-@o.OrderId"><i class="fa fa-eye"></i>View</a>
                </div>


                <div class="modal fade modal-center" id="productView-@o.OrderId">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header border-0 ck-cart-info">
                                <h5>Product Description</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-header"><strong>#0000 @o.OrderId</strong></div>
                                            <div class="card-body p-0 table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>

                                                            <th scope="col">Product Name</th>
                                                            <th scope="col">Price</th>

                                                            <th scope="col" width="14%">Qty</th>
                                                            <th scope="col">Sub Total</th>
                                                      

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                        decimal total = 0;
                                                        }
                                                        @foreach (var c in o.OrderDetails)
                                                        {

                                                        <tr>
                                                            <td>@c.Product.ProductName</td>

                                                            <td>    $@String.Format("{0:0.00}", c.ProductPrice)</td>
                                                            <td>@c.Quantity</td>
                                                            <td>
                                                                @{
                                                                    var subtotal = c.ProductPrice * c.Quantity;
                                                                    total = total + subtotal;
                                                                }

                                                                $@String.Format("{0:0.00}", @subtotal)

                                                            </td>
                                             




                                                            @if (Convert.ToInt32(o.OrderStatus)==6)
                                                            {
                                                                <td><a class="btn btn-info rounded-0 btn-sm" asp-action="Index" asp-controller="Review" asp-route-Id="@c.ProductId">Review</a></td>

                                                            }
                                                        </tr>

                                                        }

                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td>Total</td>
                                                            <td>
                                                                <p>
                                                                    <strong>

                                                                        $@String.Format("{0:0.00}", total)
                                                                    </strong>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card mt-4">
                                            <div class="card-body">
                                                <h4>Timeline</h4>
                                                <ul class="timeline">
                                                    @if (Convert.ToInt32(o.OrderStatus) != 7)
                                                    {


                                                    <li class=@(
                                                                      Convert.ToInt32(o.OrderStatus) == 1 ||
                                                                       Convert.ToInt32(o.OrderStatus) == 2 ||
                                                                        Convert.ToInt32(o.OrderStatus) == 3 ||
                                                                         Convert.ToInt32(o.OrderStatus) == 4 ||
                                                                         Convert.ToInt32(o.OrderStatus) == 5 ||
                                                                      Convert.ToInt32(o.OrderStatus) == 6 ? "active" : ""
                                                        )>
                                                        <h6>PENDING</h6>
                                                        <p class="mb-0 text-muted">Your is pending now</p>
                                                        <o class="text-muted">
                                                            21 March, 2014
                                                        </o>
                                                    </li>

                                                    <li class=@(

                                                                       Convert.ToInt32(o.OrderStatus) == 2 ||
                                                                        Convert.ToInt32(o.OrderStatus) == 3 ||
                                                                         Convert.ToInt32(o.OrderStatus) == 4 ||
                                                                         Convert.ToInt32(o.OrderStatus) == 5 ||
                                                                      Convert.ToInt32(o.OrderStatus) == 6 ? "active" : ""
                                                        )>
                                                        <h6>CONFIRMED</h6>
                                                        <p class="mb-0 text-muted">Your order has been confirmed </p>
                                                        <o class="text-muted">
                                                            21 March, 2014
                                                        </o>
                                                    </li>

                                                    <li class=@(


                                                                        Convert.ToInt32(o.OrderStatus) == 3 ||
                                                                         Convert.ToInt32(o.OrderStatus) == 4 ||
                                                                         Convert.ToInt32(o.OrderStatus) == 5 ||
                                                                      Convert.ToInt32(o.OrderStatus) == 6 ? "active" : ""
                                                        )>
                                                        <h6>PAID</h6>
                                                        <p class="mb-0 text-muted">Your payment status paid</p>
                                                        <o class="text-muted">
                                                            21 March, 2014
                                                        </o>
                                                    </li>

                                                    <li class=@(


                                                                         Convert.ToInt32(o.OrderStatus) == 4 ||
                                                                         Convert.ToInt32(o.OrderStatus) == 5 ||
                                                                      Convert.ToInt32(o.OrderStatus) == 6 ? "active" : ""
                                                        )>
                                                        <h6>PICKED</h6>
                                                        <p class="mb-0 text-muted">Your product has been picked</p>
                                                        <o class="text-muted">
                                                            21 March, 2014
                                                        </o>
                                                    </li>
                                                    <li class=@(



                                                                         Convert.ToInt32(o.OrderStatus) == 5 ||
                                                                      Convert.ToInt32(o.OrderStatus) == 6 ? "active" : ""
                                                        )>
                                                        <h6>ON THE WAY</h6>
                                                        <p class="mb-0 text-muted">Your product on the way/</p>
                                                        <o class="text-muted">
                                                            21 March, 2014
                                                        </o>
                                                    </li>
                                                    <li class=@(



                                                                      Convert.ToInt32(o.OrderStatus) == 6 ? "active" : ""
                                                        )>
                                                        <h6>DELIVERED</h6>
                                                        <p class="mb-0 text-muted">Your product has been delivered.</p>
                                                        <o class="text-muted">
                                                            21 March, 2014
                                                        </o>
                                                    </li>

                    }
                    else
                    {
                        <p class="text-danger">Sorry your order has been cancelled!!</p>
                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>







    }
    }
    else
    {
    <h4 class="text-info text-center">You hav no order </h4>
    }