@model IEnumerable<Product>
<section class="slider">
    <div id="demo" class="carousel slide demo-slider" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/assets/img/slider1.jpg" alt="Los Angeles" width="1100" height="500">
                <div class="div-center text-white">
                    <h3>Big discount</h3>

                    <p>Nice collection!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/assets/img/slider2.jpg" alt="Chicago" width="1100" height="500">
                <div class="div-center text-white">
                    <h3>Buy Now</h3>
                    <p>Big discount</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/assets/img/slider3.jpg" alt="New York" width="1100" height="500">
                <div class="div-center text-white">
                    <h3>Buy now</h3>
                    <p>New Campaign</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
        <div class="slider-overlay"></div>
    </div>





</section>
<!-- mobile view-->
<section class="products mt-4 mb-4">
    <div class="container ck-cart-info">
        <h5>Products</h5>
        <div class="row">
            @if (Model!=null) {
            @foreach (var p in Model)
            {
                <div class="col-lg-2 col-6 col-xs-6 mt-3">
                    <div class="border w-100 bx">
                        <a asp-action="ProductDetails" asp-controller="Product" asp-route-Id="@p.ProductId"><img src="http://localhost:5000/Images/@p.ProductImages.First().ImageName" alt="" class="w-100"></a>
                        <div class="text-center p-2">
                            <h6 class="text-muted">@p.ProductName</h6>

                            <p class="text-info"><strong>$ @String.Format("{0:0.00}", p.ProductPrices.First().Price) </strong></p>
                        </div>




                        @*<a asp-route-Id="@p.ProductId" onclick="addToCart(@p.ProductId)" class="btn btn-outline-danger rounded-0 border-0 btn-block"><i class="fa fa-shopping-cart"> Add to cart</i></a>*@

                    </div>
                </div>


                }



            }
            else
            {
                <p class="text-center text-danger">No product found!</p>
            }


        </div>

    </div>
</section>


@section scripts {


}
