@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="products mt-4 mb-4">
    <div class="container ck-cart-info">
        <h5>Products</h5>
        <div class="row">
            @if (Model != null)
            {
            @foreach (var p in Model)
            {
                <div class="col-lg-2 col-6 col-xs-6 mt-3">
                    <div class="border w-100 bx">
                        <a asp-action="ProductDetails" asp-controller="Product" asp-route-Id="@p.ProductId"><img src="http://localhost:5000/Images/@p.ProductImages.First().ImageName" alt="" class="w-100"></a>
                        <div class="text-center p-2">
                            <h6 class="text-muted">@p.ProductName</h6>
                       
                            <p class="text-info"><strong>@String.Format("{0:0.00}", p.ProductPrices.First().Price)  </strong></p>
                        </div>




                        @*<a asp-route-Id="@p.ProductId" onclick="addToCart(@p.ProductId)" class="btn btn-outline-danger rounded-0 border-0 btn-block"><i class="fa fa-shopping-cart"> Add to cart</i></a>*@

                    </div>
                </div>



            }
            }

        </div>

    </div>
</section>
<!-- The Modal -->


